<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Từ Khóa</label>
      <input type="text" class="form-control" id="search-input" name="keyword" placeholder="Nhập từ khóa">
    </div>

    <div class="form-group">
      <label for="gender-input">Giới Tính</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">--Chọn Giới Tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
  </form>
</div>
